In [ ]:
# activate R magic
%load_ext rpy2.ipython

#**Fraud Analytics - Análise Exploratória**

In [ ]:
# Obs: Caso tenha problemas com a acentuação, consulte este link:
# https://support.rstudio.com/hc/en-us/articles/200532197-Character-Encoding

##**Carregando e visualizando os dados**

In [6]:
%%R
dados = read.csv("dataset_source.csv")
#View(dados)

In [9]:
%%R
head(dados, 2)

  Record    CARDNUM     DATE      MERCHNUM       MERCHDESCRIPTION MERCHSTATE
1      1 5142152067 1/1/2010 5509010000000 FEDEX SHP 12/21/09 AB#         TN
2      2 5142190439 1/1/2010 5509010000000 FEDEX SHP 12/23/09 AB#         TN
  MERCHZIP TRANSTYPE AMOUNT Fraudlabel
1    38118         P  3.67           0
2    38118         P  3.62           0

In [10]:
%%R
tail(dados, 2)

      Record    CARDNUM       DATE      MERCHNUM        MERCHDESCRIPTION
95270  95271 5142244619 12/31/2010 8834000000000                 BUY.COM
95271  95272 5142122644 12/31/2010               RETAIL DEBIT ADJUSTMENT
      MERCHSTATE MERCHZIP TRANSTYPE     AMOUNT Fraudlabel
95270         CA    92656         P  2,202.03           0
95271                  NA         P    340.79           0

In [11]:
%%R
str(dados)

'data.frame':	95271 obs. of  10 variables:
 $ Record          : int  1 2 3 4 5 6 7 8 9 10 ...
 $ CARDNUM         : num  5.14e+09 5.14e+09 5.14e+09 5.14e+09 5.14e+09 ...
 $ DATE            : Factor w/ 365 levels "1/1/2010","1/10/2010",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ MERCHNUM        : Factor w/ 6625 levels "","0","003100006NOT6",..: 2703 2703 2703 2799 2703 2703 2703 2703 2703 2703 ...
 $ MERCHDESCRIPTION: Factor w/ 13122 levels "(ISC)2 CERTIFICATION",..: 4590 4594 4598 2416 4594 4594 4594 4592 4594 4592 ...
 $ MERCHSTATE      : Factor w/ 228 levels "","100","107",..: 219 219 219 186 219 219 219 219 219 219 ...
 $ MERCHZIP        : int  38118 38118 38118 60061 38118 38118 38118 38118 38118 38118 ...
 $ TRANSTYPE       : Factor w/ 4 levels "A","D","P","Y": 3 3 3 3 3 3 3 3 3 3 ...
 $ AMOUNT          : Factor w/ 34037 levels " 0.01 "," 0.02 ",..: 17215 17210 17210 19653 17210 17210 17210 17215 17210 17210 ...
 $ Fraudlabel      : int  0 0 0 0 0 0 0 0 0 0 ...

##**Convertendo a coluna AMOUNT de fator para numérico (double)**

Montante

In [13]:
%%R
str(dados$AMOUNT)

 Factor w/ 34037 levels " 0.01 "," 0.02 ",..: 17215 17210 17210 19653 17210 17210 17210 17215 17210 17210 ...

In [14]:
%%R
any(is.na(dados$AMOUNT))
# nenhum valor NA

[1] FALSE

In [18]:
%%R
dados$AMOUNT <- as.double(dados$AMOUNT)
# converter p/ double

In [16]:
%%R
dados$AMOUNT <- as.double(as.character(dados$AMOUNT))

In [17]:
%%R
str(dados$AMOUNT)
# a variável passa a ser do tipo numérica

 num [1:95271] 17215 17210 17210 19653 17210 ...

In [21]:
%%R
any(is.na(dados$AMOUNT))
# não houve nenhuma perda de dados

[1] FALSE

##**Convertendo MERCHZIP de numérico para fator**

Código postal do comerciante

In [22]:
%%R
str(dados$MERCHZIP)

 int [1:95271] 38118 38118 38118 60061 38118 38118 38118 38118 38118 38118 ...

In [ ]:
%%R
any(is.na(dados$MERCHZIP))

In [ ]:
%%R
dados$MERCHZIP <- as.factor(dados$MERCHZIP)

In [ ]:
%%R
str(dados$MERCHZIP)

In [ ]:
%%R
any(is.na(dados$MERCHZIP))

In [ ]:
%%
str(dados)

##**Explorando variáveis numéricas**

In [ ]:
%%R
min(dados$AMOUNT)

In [ ]:
%%R
max(dados$AMOUNT)

In [ ]:
%%R
mean(dados$AMOUNT)

In [ ]:
%%R
median(dados$AMOUNT)

In [ ]:
%%R
quantile(dados$AMOUNT)

In [ ]:
%%R
range(dados$AMOUNT)

##**Medidas de Dispersão**

Ao interpretar a variância, números maiores indicam que os dados estão espalhados mais amplamente em torno da média. 

O desvio padrão indica, em média, a quantidade de cada valor diferente da média.

In [ ]:
%%R
var(dados$AMOUNT)

In [ ]:
%%R
sd(dados$AMOUNT)

#**Plot**

##**Boxplot** - Leitura de Baixo para Cima - Q1, Q2 (Mediana) e Q3

In [ ]:
%%R
boxplot (dados$AMOUNT, main = "Boxplot para Quantidade Gasta no Cartão de Crédito", ylab = "Valor (USD$)")

##**Histograma** - Frequência de valores dentro de cada bin (classe de valores)

In [ ]:
%%R
hist(dados$AMOUNT, main = "Histograma para Quantidade Gasta no Cartão de Crédito", xlab = "Valor (USD$)")

##**Explorando variáveis categóricas**

Criando tabelas de contingência - representam uma úniva variável categórica

Lista as categorias das variáveis nominais

In [ ]:
%%R
str(dados)

In [ ]:
%%R
table(dados$MERCHZIP)

In [ ]:
%%R
model_table <- table(dados$MERCHZIP)

In [ ]:
%%R
prop.table(model_table)

##**Arredondando valores**

In [ ]:
%%R
model_table <- table(dados$MERCHZIP)

In [ ]:
%%R
model_table <- prop.table(model_table) * 100

In [ ]:
%%R
round(model_table, digits = 1)

#**Plot**

In [ ]:
%%
str(dados$MERCHZIP)
barplot(table(dados$MERCHZIP), col = "black", main = "Número de Transações por Postal Code")

In [ ]:
%%
str(dados$DATE)
barplot(table(dados$DATE), col = "black", main = "Número de Transações por Dia")

In [ ]:
%%
str(dados$MERCHNUM)
barplot(table(dados$MERCHNUM), col = "black", main = "Número de Transações por Comerciante")

In [ ]:
%%R
str(dados$MERCHSTATE)
barplot(table(dados$MERCHSTATE), col = "black", main = "Número de Transações por Estado")

In [ ]:
%%R
str(dados$TRANSTYPE)
barplot(table(dados$TRANSTYPE), col = "black", main = "Número de Transações por Tipo de Transação")

#**Visualizando fraudes mensais**

In [ ]:

install.packages("lubridate")
install.packages("dplyr")
install.packages("ggplot")
library(lubridate)
library(dplyr)
library(ggplot2)

##**Extrair colunas específicas**

In [ ]:
%%R
# Extrai todas as linhas da coluna 1 a coluna 10 (no caso de haver mais colunas do que o necessário)
dados = dados[,1:10]
head(dados)

##**Extrair mês da data completa e repassar para nova coluna**

In [ ]:
%%R
dados$DATE = mdy(dados$DATE)

In [ ]:
%%R
dados$month = month(dados$DATE)

##**Sumarizar dados e gravar em novo DataFrame** - {dplyr}

In [ ]:
%%R
# Sumarizando os dados e gravando em um novo dataframe
dados2 = dados %>%
  group_by(month)%>%
  summarise(fraud = sum(Fraudlabel))

##**Converter coluna Mês p/ fator**

In [ ]:
%%R
dados2$month = as.factor(dados2$month)

In [ ]:
%%R
# Plot
ggplot(dados2,
       aes(x = month, y = fraud))+
  geom_bar(stat = "identity", 
           fill = "blue")